* {
    margin: 0;
    font-family: arial;
    border:border-box;
}
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;   
}
.nav-logo {
    height: 50px;
    width:113px;   
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 113px;
}
.border {
    border : 2px solid transparent;
}
.border:hover {
    border: 2px solid white;
}


.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-second {
    font-size:1rem;
    margin-left: 3px;
}
.add-icon {
    display: flex;
    align-items: center;
}
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 920px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover {
    border: 3px solid orange;
}
.search-select {
    background-color: #f3f3f3;
    width:50px;
    align-items: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width:100%;
    font-size: 1rem;
    border: none;
}
.search-icon {
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.nav-lang {
    height: 33px;
    width:77px;
    align-items: center;
    display: flex;
    justify-content: center;    
}
.lang-img {
    height: 18.2px;
    width:25.6px;
    background-image: url("america_flag.webp");
    background-size: cover;
}
.lang-select {
    color:white;
    background-color: #0f1111;
    border: none;
}
.signin-first {
    font-size: 0.7rem;
}
.signin-second {
    font-size:0.85rem;
    font-weight: 700;
}
.return-first {
    font-size: 0.7rem;
}
.return-second {
    font-size:0.85rem;
    font-weight: 700;
}
.nav-cart i{
    font-size: 30px;
    font-weight: 700;
}
.panel {
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
}
.panel-all {
    font-weight: 700;
    margin-left: 28px;
}
.panel-deals p{
    display: inline;
    margin-left: 10px;
    font-size: 0.9rem;
    font-weight: 500;   
}
.hero-section {
    height:350px;
    background-image: url("homepage.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
}
.hero-text{
    height:40px;
    width: 95%;
    background-color: rgb(245, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;      
}
.hero-link {
    text-decoration: none;
    color: #007185;
}
.shop-section {
    display:flex;
    justify-content: space-evenly;
    background-color: #d0e7f5;
}
.box {
    height: 400px;
    width:342px;
    margin-right:20px ;
    background-color: white;
}
.box1 {
    align-items: center;
}
.box1-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.img {
    height: 115px;
    width: 150px;
}
.box1-img1 {
     margin-top: 10px;
    background-image: url("box1_img1.jpg");
    background-size:cover;
}
.box1-img3 {
    margin-top: 10px;
    background-image: url("box1_img3.jpg");
    background-size: cover;
}
.box1-img2 {
    background-image: url("box1_img2.jpg");
    background-size: cover;
    margin-top: 50px;
}
.box1-img4 {
    background-image: url("box1_img4.jpg");
    background-size: cover;
    margin-top: 50px;
}
.box1-sm {
    text-decoration: none;
    color: #007185;
    position: relative;
    left: 15px;
}
.box2 {
    align-items: center;
}
.box2-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box2-img1 {
    
    margin-top: 10px;
    background-image: url("box2_img1.jpg");
    background-size:cover;
}
.box2-img3 {
    margin-top: 10px;
    background-image: url("box2_img3.jpg");
    background-size: cover;
}
.box2-img2 {
    background-image: url("box2_img2.jpg");
    background-size: cover;
    margin-top: 50px;
}
.box2-img4 {
    background-image: url("box2_img4.jpg");
    background-size: cover;
    margin-top: 50px;
}
.box2-sm {
    text-decoration: none;
    color: #007185;
    position: relative;
    left: 15px;   
}
.box3 {
    align-items: center;
}
.box3-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box3-img1 {
     margin-top: 10px;
    background-image: url("box3_img1.jpg");
    background-size:cover;
}
.box3-img3 {
     margin-top: 10px;
    background-image: url("box3_img3.jpg");
    background-size: cover;
}
.box3-img2 {
    background-image: url("box3_img2.jpg");
    background-size: cover;
    margin-top: 50px;
}
.box3-img4 {
    background-image: url("box3_img4.jpg");
    background-size: cover;
    margin-top: 50px;
}
.box3-sm {
    text-decoration: none;
    color: #007185;
    position: relative;
    left: 15px;   
}
.box4-img {
    height: 303px;
    width :323px;   
}
.box4-img1 {
    height: 303px;
    width :323px;
    background-image: url("box4_img1.jpg");
    background-size: cover;
    margin-left: 10px;
    margin-top: 6px;
}
.box4-sm {
    text-decoration: none;
    color: #007185;
    position: relative;
    left: 15px;
}
.shop-section2 {
    display:flex;
    justify-content: space-evenly;
    background-color: #e3e6e6;
}
.box {
    height: 400px;
    width:342px;
    margin-right:20px ;
    background-color: white;
}
.box5 {
    align-items: center;
}
.box5-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.img {
    height: 115px;
    width: 150px; 
}
.box5-img1 {
     margin-top: 10px;
    background-image: url("box5_img1.jpg");
    background-size:cover;
}
.box5-img3 {
     margin-top: 10px;
    background-image: url("box5_img3.jpg");
    background-size: cover;
}
.box5-img2 {
    background-image: url("box5_img2.jpg");
    background-size: cover;
    margin-top: 50px;
}
.box5-img4 {
    background-image: url("box5_img4.jpg");
    background-size: cover;
    margin-top: 50px;
}
.box5-sm {
    text-decoration: none;
    color: #007185;
    position: relative;
    left: 15px;  
}
.box6 {
    align-items: center;
}
.box6-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box6-img1 {
    margin-top: 10px;
    background-image: url("box6_img1.jpg");
    background-size:cover;
}
.box6-img3 {
     margin-top: 10px;
    background-image: url("box6_img3.jpg");
    background-size: cover;
}
.box6-img2 {
    background-image: url("box6_img2.jpg");
    background-size: cover;
    margin-top: 50px;
}
.box6-img4 {
    background-image: url("box6_img4.jpg");
    background-size: cover;
    margin-top: 50px;
}
.box6-sm {
    text-decoration: none;
    color: #007185;
    position: relative;
    left: 15px;   
}
.box7 {
    align-items: center;
}
.box7-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box7-img1 {
    margin-top: 10px;
    background-image: url("box7_img1.jpg");
    background-size:cover;
}
.box7-img3 {
     margin-top: 10px;
    background-image: url("box7_img3.jpg");
    background-size: cover;
}
.box7-img2 {
    background-image: url("box7_img2.jpg");
    background-size: cover;
    margin-top: 50px;
}
.box7-img4 {
    background-image: url("box7_img4.jpg");
    background-size: cover;
    margin-top: 50px;
}
.box7-sm {
    text-decoration: none;
    color: #007185;
    position: relative;
    left: 15px;  
}
.box8-img {
    height: 303px;
    width :323px; 
}
.box8-img1 {
    height: 303px;
    width :323px;
    background-image: url("box8_img1.jpg");
    background-size: cover;
    margin-left: 10px;
    margin-top: 6px;
}
.box8-sm {
    text-decoration: none;
    color: #007185;
    position: relative;
    left: 15px;
}
.foot-panel {
    height: 50px;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-text {
    text-decoration: none;
    color:white;
}
.foot-info {
    height:420px;
    background-color: #232f3e;
    color: white;
    display: block;
    display: flex;
    justify-content: space-evenly;
}
.info1 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.info11 {
    font-size: 16px;
    font-weight: 700;
}
.info1 a{
    font-size: 14px;
    margin-top: 10px;
    color: #DDDDDD;
}
.foot-panel2 {
    height: 110px;
    background-color: #232f3e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel4 {
    height:85px;
    background-color: #131A22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foot-panel4 a{
    text-decoration: none;
    color: #DDDDDD;
    font-size: 12px;
    margin-right: 12px;
}
.panel4-info1 {
    margin-bottom: 5px;
    
}